.curved-text {
  font-size: 3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  fill: #ffde59; /* Yellow fill */
  stroke: #771453; /* Burgundy stroke */
  stroke-width: 0.2vw; /* Thinner stroke */
}

@media (max-width: 1024px) {
  .curved-text {
    font-size: 2.5rem;
    stroke-width: 0.08vw;
  }
}

@media (max-width: 768px) {
  .curved-text {
    font-size: 2rem;
    stroke-width: 0.06vw;
  }
}